@import url(./variables.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: var(--main-font);
  margin: 0 auto;
  background: var(--light-pink);
}

img,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
  color: var(--dark-purple);
}
